//BASIC
* {
  box-sizing: border-box;
}

body {
  min-width: $width-sm;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  background-color: lightgrey;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    margin: 0;
    padding: 0;
  }
}

figure {
  margin: 0;
}

a {
  color: #e0e0e0;
  text-decoration: none;
}

input,
button,
textarea {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

//SCROLLBAR
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #454545;
}


.cf:after {
  @include clearfix();
}

.cf::after {
  @include clearfix();
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}